html{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
    border: 2px solid white;
}

.btn:hover,
.btn:active{
    background-color: rgb(50, 50, 50);
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.dau{
    float: left;
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 6px;
    background-color: black;
    /* border: 1px solid red; */
}

.menu{
    float: left;
    position: fixed;
    width: 10%;
    height: 90%;
    top: 10%;
    background-color: black;
    /* border: 1px solid black; */
}

.tentrang{
    float: left;
    width: 90%;
    height: 10%;
    margin-top: 4.8%;
    margin-left: 10%;
    background-color: white;
    /* border: 1px solid red; */
}

.thaotac{
    float: left;
    width: 90%;
    height: 10%;
    margin-left: 10%;
    background-color: rgb(200, 200, 200);
    /* border: 1px solid red; */
}

.bang{
    float: left;
    width: 90%;
    min-height: 390px;
    /* min-height: 60%; */
    margin-left: 10%;
    /* margin-bottom: 2%; */
    /* border: 1px solid red; */
}

.danhsachtrang{
    float: left;
    width: 90%;
    height: 10%;
    margin-left: 10%;
    background-color: rgb(200, 200, 200);
    text-align: center;
    /* border: 1px solid red; */
}

/* ------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------dong dau--------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.logo{
    width: 50px;
    height: 50px;
    margin-left: 0px;
    border-radius: 50%;
}

.dongdau{
    float: right;
    list-style: none;
    margin-top: 15px;
}

.dongdau li{
    display: inline-block;
    margin-right: 30px;
}
.dongdau li a{
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: 700;
    transition: all 0.5s;
    padding: 5px 0;
}

.dongdau li a:hover,
.dongdau li a:active{
    color: rgb(0, 100, 255);
    border-bottom: 2px solid rgb(0, 100, 255);
}

/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------menu----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.menu div{
    width: 135px;
    padding: 15% 0px;
    height: 10%;
}

.menu li{
    display: inline-block;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-weight: 700;
    transition: all 0.5s;
    padding: 0px 5%;
}

.menu li div:hover,
.menu li div:active{
    background-color: rgb(50, 50, 50);
    /* color: rgb(0, 255, 255); */
    
}

.menu li div a:hover,
.menu li div a:active{
    color: rgb(0, 100, 255);
}

.trangdangdung{
    background-color: rgb(100, 100, 100);
    /* color: black; */
}

/* ------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------ten trang-------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.tentrang p{
    font-size: 200%;
    color: black;
    margin-top: 1%;
    margin-left: 2%;
}

/* ------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------thao tac--------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.thaotac a{
    float: left;
    text-decoration: none;
    color: white;
}

.thaotac .btn{
    margin-top: 0.5%;
    margin-left: 2%;
}

.timkiem{
    float: right;
    margin-top: 1.5%;
    margin-right: 2%;
    width: 300px;
    height: 30px;
    /* background-color: blue; */
}

.timkiem input{
    float: right;
    width: 50px;
    height: 30px;
    /* margin-right: 0px; */
}

.btntimkiem input{
    color: white;
    background-color: black;
    text-align: center;
    border: 1px solid white;
}

.txttimkiem input{
    width: 30px;
    padding-left: 10px;
    border: 0px solid white;
    transition: all .3s;
}

.btntimkiem input:hover,
.btntimkiem input:active{
    background-color: rgb(50, 50, 50);
}

.txttimkiem input:hover,
.txttimkiem input:active{
    width: 250px;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------bang----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.bang p{
    font-size: 120%;
    color: black;
    margin-left: 2%;
    margin-top: 1.5%;
}

.bangloainhaccu{
    margin-left: 2%;
    margin-top: 1.5%;
    margin-bottom: 2%;
    width: 96%;
    background-color: rgb(200, 200, 200);
}

.bangloainhaccu p, .bangloainhaccu a{
    font-size: 100%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

.bangloainhaccu a{
    text-decoration: none;
    color: rgb(0, 0, 100);
    transition: all 0.2s;
}

.bangloainhaccu a:hover,
.bangloainhaccu a:active{
    color: rgb(0, 0, 255);
}

.tencot{
    background-color: rgb(200, 200, 200);
}

.tencot p{
    font-size: 120%;
}
.noidung td{
    background-color: white;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------chuyen trang------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------- */

.danhsachtrang a{
    text-decoration: none;
    color: rgb(0, 0, 100);
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-top: 1.5%;
    display: inline-block;
    text-align: center;
    transition: all .3s;
    border: 1px solid white;
    transition: all 0.2s;
}

.dauds{
    width: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cuoids{
    width: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.truocsauds{
    width: 60px;
}

.danhsachtrang a:hover,
.danhsachtrang a:active{
    color: rgb(0, 0, 255);
}